<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="xmlJdbcConnection" class="kr.pe.norimsu.spring.basics.springin5steps.xml.XmlJdbcConnection">
	</bean>

	<bean id="xmlPersonDao" class="kr.pe.norimsu.spring.basics.springin5steps.xml.XmlPersonDao">
		<property name="xmlJdbcConnection" ref="xmlJdbcConnection"/>
	</bean>

</beans>